phone_book.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PhoneBook" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="PhoneBook"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="PhoneBook"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    
    <xsd:documentation></xsd:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="PhoneBook">
            <xsd:complexType name="contact">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"></xsd:element>
                    <xsd:element name="phone_number" type="xsd:string"></xsd:element>
                    <xsd:element name="email" type="tns:string"></xsd:element>
                    <xsd:element name="address" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="void">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>    
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="addContactRequest">
        <wsdl:part name="contact" type="tns:contact"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addContactResponse">
        <wsdl:part name="id" type="tns:integer"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="updateContactRequest">
        <wsdl:part name="id" type="tns:integer"></wsdl:part>
        <wsdl:part name="contact" type="tns:contact"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateContactResponse">
        <wsdl:part name="updated" type="tns:boolean"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="deleteContactRequest">
        <wsdl:part name="id" type="tns:integer"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteContactResponse">
        <wsdl:part name="deleted" type="tns:boolean"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="contactListRequest">
        <wsdl:part name="void_parameter" type="tns:void"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="contactListResponse">
        <wsdl:part name="contacts" type="tns:string"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="searchContactRequest">
        <wsdl:part name="search" type="tns:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="searchContactResponse">
        <wsdl:part name="contacts" type="tns:string"></wsdl:part>
    </wsdl:message>
    
    <wsdl:portType name="PhoneBook">
        <wsdl:operation name="addContact">
            <wsdl:input message="tns:addContactRequest"/>
            <wsdl:output message="tns:addContactResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateContact">
            <wsdl:input message="tns:updateContactRequest"/>
            <wsdl:output message="tns:updateContactResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteContact">
            <wsdl:input message="tns:deleteContactRequest"/>
            <wsdl:output message="tns:deleteContactResponse"/>
        </wsdl:operation>
        <wsdl:operation name="allContacts">
            <wsdl:input message="tns:contactListRequest"/>
            <wsdl:output message="tns:contactListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="searchContacts">
            <wsdl:input message="tns:searchContactRequest"/>
            <wsdl:output message="tns:searchContactResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="PhoneBook" type="tns:PhoneBook">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addContact">
            <soap:operation soapAction="http://localhost:8080/server.php"/>
            <wsdl:input>
                <soap:body use="literal" namespace="PhoneBook"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="PhoneBook"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateContact">
            <soap:operation soapAction="http://localhost:8080/server.php"/>
            <wsdl:input>
                <soap:body use="literal" namespace="PhoneBook"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="PhoneBook"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteContact">
            <soap:operation soapAction="http://localhost:8080/server.php"/>
            <wsdl:input>
                <soap:body use="literal" namespace="PhoneBook"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="PhoneBook"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="allContacts">
            <soap:operation soapAction="http://localhost:8080/server.php"/>
            <wsdl:input>
                <soap:body use="literal" namespace="PhoneBook"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="PhoneBook"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchContacts">
            <soap:operation soapAction="http://localhost:8080/server.php"/>
            <wsdl:input>
                <soap:body use="literal" namespace="PhoneBook"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="PhoneBook"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="PhoneBook">
        <wsdl:port binding="tns:PhoneBook" name="PhoneBookLibrary">
            <soap:address location="http://localhost:8080/server.php"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>